@import "./node_modules/bootstrap/scss/bootstrap.scss";

body{
    background-color: #d9d9d9;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner{
    max-height: 39rem;
}